<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.madvirus.spring4.member.MemberDao">

	<select id="selectOne" parameterType="String" resultType="net.madvirus.spring4.member.vo.Member">
		select * from member where id=#{id}
	</select>
	<select id="selectMembers"  resultType="net.madvirus.spring4.member.vo.Member">
		select * from member 
	</select>

</mapper>